@charset "UTF-8";
#wrap {
    width: 971px;    /* 1024*768로 해상도 맞춤 */
    /* 가운데 정렬을 위한 여백 설정 */
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    line-height: 24px;
}

table td, th {
    border: #d3d3d3 solid 1px;
    padding: 5px;
}
th {
    background: yellowgreen;
}
table .item{
	text-align: center;
}
img {
    width: 220px;
    height: 300px;
}
a {
    text-decoration:none;
    color:black;
}
a:HOVER {
    text-decoration:underline;
    color:green;
}
